/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(red,rgb(224, 83, 206),orange);
  display: flex;
  align-items: center;
  justify-content: center;
}

#gameBoard{
  position: relative;
    width: 60%;
    height: 0;
    padding-bottom: 60%;
    background-image: radial-gradient(black,purple,lightblue,purple,black) ;
    opacity: .6;
    border-radius: 10px;
}
#gameGrid{
  padding: 0px 0px 100% 0px;
  height: 0;
  width: 100%;
 
  
  display: flex;
  flex-wrap: wrap;
}
[id^='grid']{
  height: 0;
  width: 33.3333%;
  padding-bottom: 33.3333%;
  
  
}
#grid1{
  border-right: 2px solid black;
  border-bottom: 2px solid black;
}
#grid2{
  border-right: 2px solid black;
  border-bottom: 2px solid black;
}
#grid3{
  
  border-bottom: 2px solid black;
}
#grid4{
  border-right: 2px solid black;
  border-bottom: 2px solid black;
}
#grid5{
  border-right: 2px solid black;
  border-bottom: 2px solid black;
}
#grid6{
  
  border-bottom: 2px solid black;
}
#grid7{
  border-right: 2px solid black;
  
}
#grid8{
  border-right: 2px solid black;
  
}
/******************************************
/* LAYOUT
/*******************************************/
header {

}

footer {

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
