/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(red,rgb(224, 83, 206),orange);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#gameBoard{
  display: flex;
  height: 800px;
  width: 800px;
  background-image: radial-gradient(black,purple,lightblue,purple,black) ;
  opacity: .6;
  flex-wrap: wrap;
}

#controller{
  height: 80px;
  width: 800px;
  background-color: black;
  opacity: .2;
}
[id^='grid']{
  height: 0;
  flex-basis: 33.3333%;
  height: 33.3333%;
  
  
}
#grid1{
  border-right: 2px solid black;
  border-bottom: 2px solid black;
}
#grid2{
  border-right: 2px solid black;
  border-bottom: 2px solid black;
}
#grid3{
  
  border-bottom: 2px solid black;
}
#grid4{
  border-right: 2px solid black;
  border-bottom: 2px solid black;
}
#grid5{
  border-right: 2px solid black;
  border-bottom: 2px solid black;
}
#grid6{
  
  border-bottom: 2px solid black;
}
#grid7{
  border-right: 2px solid black;
  
}
#grid8{
  border-right: 2px solid black;
  
}
@media screen and (max-width:800px){
  #gameBoard{
    width: 600px;
    height: 600px;
  }
  #controller{
    width: 600px;
  }
}
@media screen and (max-width:600px){
  #gameBoard{
    width: 400px;
    height: 400px;
  }
  #controller{
    width: 400px;
  }
}