/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body *{
     float: left;
}
ul{
     list-style: none;
}
nav{
     width: 100%;
     height: 75px;
     
}
nav > ul{
     
     width: 60%;
}
nav> ul > li{
     height: 100%;
     float: right;
     padding: 5px;
}
nav > a{
     float: right;
}
#section1{
     height: 300px;
     width: 100%;
}
#section1 > div{
     width: 60%;
     background: lightblue;
     height: 100%;
}
#section1 > div + div{
     background: pink;
     float: left;
     width: 40%;
     height: 100%;
}
#section2{
     height: 300px;
     width: 100%;
}
#section2 > div{
     width: 40%;
     background: lightgreen;
     height: 100%;

}
#section2 > div + div{
     height: 100%;
     width: 60%;
     background: lightslategray;
}
#section3{
     height: 350px;
     width: 100%;
     background: gray;
}
#section3 > a, #section3 > h2, #section3 > ul{
     width: 100%;
     text-align: center;
     
}
#section3 > ul > li{
     width: 20%;
     text-align: center;
     
}
#section3 > ul > li>a{
     width: 100%;
}
.foodImg{
     height: 160px;
     width: 20%;
     background: white;
     border: 1px solid black;
}
#section3 > ul + ul > li{
     float: center;
}
/******************************************
/* LAYOUT
/*******************************************/
header {

}

footer {

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
