/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body *{
     float: left;
     /* border: 1px solid black; */
}
nav{
     width: 100%;
}
ul{
     list-style: none;
}
nav > h4, nav > a{
     width: 20%;
}
nav > ul{
     width: 60%;
}
nav > ul > li{
     width: 16.5%;
}
nav > ul > li > a{
     width: 100%;
}
#section1{
     height: 900px;
     width: 100%;
     background: lightblue;
     
}
#section1 > h1, #section1 > h5{
     width: 100%;
     margin: 5%;
}
#service_button{
     width: 25%;
     margin: 5%;
     height: 75px;
     background: black;
     color: white;
     text-align: center;
     padding: 30px;
     
}
#section1 > div + div{
     width: 35%;
     /* float: none; */
     margin: 5%;
     background:black;
     border: 1px solid black;
     color: white;
     
}
/******************************************
/* LAYOUT
/*******************************************/
header {

}

footer {

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
