* { 
    box-sizing:border-box; 
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    width: 100vw;
    background-color: antiquewhite;
}

section{
    display: flex;
    background-color: rgb(102, 100, 97);
    flex-wrap: wrap;
    
}
div{
    height: 200px;
    width: 200px;
    background-color: aquamarine;
    border: 1px solid black;
}